body{
    background-color: #ecf0f1;
}

.btn {
    cursor: pointer;
}

body {
    color: #34495e;
}

.clicked {
    color: #b4b4b4;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}